<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">Monitoring</a>

  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">

      <%# '/' %>
      <%if (nav === 'index') { %>
        <li><a class="nav-item nav-link active" href="/">Dashboard</a></li>
      <% } %>

    </ul>
    <span class="navbar-text">
      <%# Logged in as <strong>Admin <i class="fa fa-rocket" aria-hidden="true"></i></strong>%>
    </span>
  </div>
</nav>
